/*code for letters:
https://codepen.io/elisabethdiang/pen/RwNXxyq?editors=1100
https://codepen.io/denic/pen/GRoOxbM*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.menuc{
    background-color: rgb(186, 186, 186, 0.5);
    position: -webkit-sticky;
    position: sticky;
    top: 0; left: 0;
    width: 80px;
    max-width: 80px;
    height: 625px;
}

.menup{ 
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: table;
}

.github{
    background-image: url(../resorce/iconGithub.png);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin-bottom: 20px;
}

.github:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.linkedin{
    background-image: url(../resorce/iconLinkedin.png);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.linkedin:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gmail{
    background-image: url(../resorce/iconGmail.png);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin-top: 20px;
}

.gmail:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.pagina{
    display: flex;

}

.bienvenida{
    background-image: url(../resorce/fondoPrincipal.jpg);
    background-size: cover;
    width: 100%;
    height: 625px;
    float: left;
    display: block;
}

.typing-demo {
    width: 14ch;
    animation: typing 2s steps(10), blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: white;
    background-color: transparent;
    margin-left: 550px;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
    background-color: transparent;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    margin-top: 200px;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
    background-color: transparent;
}

@keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
}